<div class="topic-index-wrapper">
  <div class="container">
    <%= form_for @comment do |f| %>
    <%= f.text_area :body %>
    <%= f.hidden_field "topicid", :value => params[:topic_id] %>
    <%= f.submit "コメント" %>
    <% end %>

  </div>
  </div>
