
<div class="topic-index-wrapper">
  <div class="container">


    <%= form_for @comment do |f| %>
    <%= f.text_area :body %>
    <% debugger %>
    <%= f.hidden_field "topicid", :value =>
    <button type="submit" class="btn btn-primary">コメント</button>
    <% end %>

  </div>
  </div>
